{% extends "index.html" %}



{% block main %}



    <section style="padding-bottom: 150px;" class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <h2 class="text-center">Пароль сброшен</h2>
          <a class="text-center">Мы отправили вам письмо по электронной почте с инструкцией по восстановлению пароля.Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, на который зарегистрировались</a>
           
            
            
      </div>
    </div>
  </div>
</section>


 
{% endblock main %}