{% extends "index.html" %}



{% block main %}


<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <h2 class="text-center">Востанновление пароля</h2>
          <form class="text-left clearfix" action="" method="post">
          <p>Введите ваш e-mail для получения нового пароля</p>
            {% csrf_token %}
            {% for f in form %}
            <div class="form-group">
              <input for="{{f.id_for_label }}" {% if f.label == 'Пароль' or f.label == 'Повтор пароля' %}type="password"{% else %} type="text" {% endif %} class="form-control"  placeholder="{{f.label}}" {{f}}
              <div class="invalid-feedback">
                {{f.errors}}
              </div>
            </div>
            {% endfor %}
            <div class="text-center">
              <button type="submit" class="btn btn-main text-center" value="Send e-mail">Отправить</button>
            
      </div>
    </div>
  </div>
</section>




{% comment %} 
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Send e-mail"></p>
        {% csrf_token %}
    </form> {% endcomment %}
{% endblock main %}