{% extends 'index.html' %}

{% load static %}

{% block main %}

<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline dashboard-menu text-center">
          <li><a  href="{% url 'profile_update' user.pk %}">Изменить профиль</a></li>
          
          <li><a class="active" href="{% url "password_change" %}">Изменить пароль</a></li>
          <li><a href="{% url 'profile' %}">Профиль</a></li>
        </ul>
        <div class="dashboard-wrapper dashboard-user-profile">
          <div class="media">
            <div class="pull-left text-center" href="#!">
              <img class="media-object user-img" src="{% static "images/profile.png" %}" alt="Image">
              
            </div>
            <div class="media-body" style="width: 500px;">
              <ul class="user-profile-list">

            
            
           
              <form class="text-left clearfix" action="" method="post">
            {% csrf_token %}
            {% for f in form %}
              
                <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">{{ f.label }} :</label>
                        <div style='margin-left: 20px' class="col-sm-7">
                        <input  for="{{f.id_for_label }}"  type="text" class="form-control"  placeholder="{{f.label}}"  {{f}}
                        </div>
                </div>
                <div class="invalid-feedback">
                {{f.errors}}
                </div>
                
                {% endfor %}
                <button style='margin-left: 260px' type="submit" class="btn btn-main text-center">Изменить</button>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}