{% extends "index.html" %}

{% block title %}Password reset{% endblock %}

{% block main %}


 <section style="padding-bottom: 150px;" class="signin-page account">
  <div  class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <h2 class="text-center">Пароль установлен</h2>
          <a class="text-center">Ваш пароль установлен. Вы можете <a style="color:#0000ff; border-bottom: 5px" href="{% url "login" %}">войти </a>прямо сейчас</a>
           
            
            
      </div>
    </div>
  </div>
</section>


{% endblock main %}