<footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-media">
					<li>
						<a href="">
							<i class="tf-ion-ios-paperplane-outline"></i>
						</a>
					</li>
					<li>
						<a href="">
							<i class="tf-ion-android-mail"></i>
						</a>
					</li>
				</ul>
				</ul>
				<ul class="footer-menu text-uppercase">
					<li>
						<a href="{% url 'contact' %}">Контакты</a>
					</li>
					<li>
						<a href="{% url 'category' slug_url='dveri' %}">Каталог</a>
					</li>
					
				</ul>
				<p class="copyright-text"> <a href="#">Copyright &copy;2021, Designed &amp; Developed by Themefisher</a></p>
			</div>
		</div>
	</div>
</footer>
