{% extends 'index.html' %}
{% block main %}
<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
				{% for item in product %}
					<li><a href="{% url 'home' %}">Главная</a></li>
					<li><a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a></li>
					<li class="active"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
				</ol>
			</div>
			{% comment %} <div class="col-md-6">
				<ol class="product-pagination text-right">
					<li><a href="blog-left-sidebar.html"><i class="tf-ion-ios-arrow-left"></i> Next </a></li>
					<li><a href="blog-left-sidebar.html">Preview <i class="tf-ion-ios-arrow-right"></i></a></li>
				</ol>
			</div> {% endcomment %}
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
			
							<!-- <div class='carousel-inner '>
								<div class='item active'>
									<img src='images/shop/single-products/product-1.jpg' alt='' data-zoom-image="images/shop/single-products/product-1.jpg" />
								</div>
								в цикле перебрать Ыфотки продукта
									 <div class='item'>
									<img src='images/shop/single-products/product-2.jpg' alt='' data-zoom-image="images/shop/single-products/product-2.jpg" />
								</div>
								
							</div> -->
							
							
						</div>
						

						<ol class='carousel-indicators mCustomScrollbar meartlab'>
								<img src="{{ item.image.url }}" alt='' />
							
							
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2>{{ item.title }}</h2>
					<p class="product-price">{{ item.price }} BYN</p>
					
					
					<div class="tabCommon mt-20">
					
						<div class="tab-content patternbg">
							<div id="details" class="tab-pane fade active in">
								<h4>Описание товара</h4>
								<p>{{ item.description }}</p>
					
							</div>
						</div>
					
					
					<form action="{% url 'cart_add' item.id %}" method="post">
					{% csrf_token %}
					<div class="product-quantity" >
						<span style="font-size:15px; margin-bottom:7px">Количество:</span>
						{{ cart_product_form.quantity }}
					</div>
					
					<button style="margin-top:0px" type="submit" class="btn btn-main mt-20">Добавить в корзину</button>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					
					
								    </li>
							</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
				{% endfor %}
</section>



<section class="products related-products section">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Похожие товары</h2>
			</div>
		</div>
		<div class="row">
		{% for related_item in related_product %}
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="{{ related_item.image.url }}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.html">{{ related_item.title }}</a></h4>
						<p class="price">{{ related_item.price }} BYN</p>
					</div>
				</div>
			</div>
			
			{% endfor %}
		</div>
	</div>
</section>
{% endblock main %}